<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <div class="card rounded">
        <card class="card-body">
            <h1 class="text-center py-3">About</h1>
            <h3>First Steps with NodeJS, Express and MongoDB</h3>
            <p>
Hi, I am Manuel and I am from Spain. I am an informatic student-focused in web development who loves to program.
 Since, I like to programming in Java or any other language object-oriented, and learning different languages 
 it's my hobby.
            </p>
            <p>See you around!</p>
        </card>

    </div>
</body>
</html>