<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>Welcome! </strong></h1>

    <div class="jumbotron mt-4 rounded text-center">
        <h1 class="display-4">Notes APP. NodeJS with Express Framework and MongoDB </h1>
        <p class="lead">Jt's just a test application, pleade don't introduce your personal data.</p>
        <hr class="my-4 ">
        <p>This was my first application learning Node.JS with the Express. 
            it has a lack of functionalities because I made it just to learn how works Node.js,
             even you can register without a valid email, and create, edit and delete notes.</p>
        <p>If you want to see my linkedin profile<a onclick="window.open('https://www.linkedin.com/in/manuel-leon-godinho', '_blank')">
        <ins style="color: rgb(88, 88, 206);"> Click here.</ins></a>


    </div>
            <script>
                window.onload = function () {
                    confirm("This website is just a test, the owner isn't responsible for your data. Please don't introduce your personal data.Thanks")
                }
        </script>
</body>

</html>